<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style='background:#f5f3cf'>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <p class="site-title">
                    <a href="@Url.Action("Index", "Home")">
                        <b class="btn btn-dark"> Foodo</b>  <img src="~/Images/Foodo.jpg" alt="Foodo" style="width: 60px;height: 60px;" />
                    </a>
                </p>
                @*@Html.ActionLink("Foodo ", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (Request.IsAuthenticated)
                    {
                        <li style="color:orangered"><p> &nbsp; Welcome @Html.Encode(User.Identity.Name)</p></li>
                        <li>
                            @Html.ActionLink("Dashboard", "Dasboard", "Home")
                        </li>
                        if (Convert.ToBoolean(Request.RequestContext.HttpContext.Session["Isadmin"]))
                        {
                            <li>
                                @Html.ActionLink("Admin Dashboard", "Admin", "Home")
                            </li>
                        }
                        <li>
                            @Html.ActionLink("Log Out", "LogOut", "Home")
                        </li>
                    }
                    else
                    {
                        <li>   @Html.ActionLink("Register", "Register", "Home")</li>
                        <li> @Html.ActionLink("Log In", "Login", "Home")</li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year Foodo</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
